.kifu-tree {
  width: 10000px;
  overflow: scroll;
}

.kifu-tree .bad {
  color: darkgray;
}

.kifu-tree, .kifu-tree ul {
  padding-left: 0;
  display: flex;
  list-style: none;
}

.kifu-tree li {
  min-width: 100px;
}
