.App-logo {
  height: 40px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-header h2 {
  line-height: 40px;
  margin: 0 50px;
}

.App-header .global-controls {
  float: right;
  height: 40px;
}

.App-header .global-controls > * {
  display: inline-block;
  margin-left: 10px;
}

.App-header .global-controls .message {
  color: gray;
  font-size: 80%;
}

.App-header .global-controls button {
  height: 40px;
  width: 60px;
  font-size: 16px;
  appearance: none;
  color: white;
  background: #2ea7c8;
  border: none;
  border-radius: 3px;
}

.App-header .global-controls button:hover {
  background: #158eaf;
}

.App-body {
  display: flex;
  margin: 40px;
}
