.App-logo {
  height: 40px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-header h2 {
  line-height: 40px;
  margin: 0 50px;
}

.App-body {
  margin: 40px;
}
